! ~/.Xresources
! This is my rofi configuration. See "comfy" for termite theme
! To apply this config, make sure that the folder ~/.config/rofi has been deleted

rofi.sidebar-mode:                   false
rofi.terminal:                       termite
rofi.opacity:                        75
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        1
rofi.font:                           Inconsolata 15
rofi.fg:                             #404552
rofi.bg:                             #1a1a1a
rofi.fg-active:                      #34405a
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #5e73a0
rofi.bg-active:                      #34405a
rofi.bg-urgent:                      #34405a
rofi.hlbg-active:                    #5d729f
rofi.hlbg-urgent:                    #5d729f
rofi.bgalt:                          #5671a0
rofi.hlfg:                           #34405a
rofi.hlbg:                           #34405a
rofi.bc:                             #1a1a1a

! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #1a1a1a,  #fdfdfd,  #1a1a1a,  #404552,  #fdfdfd
rofi.color-normal: #1a1a1a,  #fdfdfd,  #1a1a1a,  #404552,  #fdfdfd
rofi.color-normal: #1a1a1a,  #fdfdfd,  #1a1a1a,  #404552,  #fdfdfd

!                  'background', 'border'
rofi.color-window: #1a1a1a,      #404552
rofi.bw:                             10
rofi.location:                       0
rofi.padding:                        0
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8
